<component name="libraryTable">
  <library name="spring-boot-starter-amqp-2.6.7">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/java libs/files-2.1/org.springframework.boot/spring-boot-starter-amqp/2.6.7/938930259c99b0cd6b97a158f148fddcc32ee356/spring-boot-starter-amqp-2.6.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>